.maintenance-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance-text {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
}

.emoji {
    font-size: 3rem;
}